@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #ffffff;
 
    --border: #C9CDD4;
    --input: #86909C;
 
    --primary: #121212;
 
    --secondary: #86909C;

    --green:#0E3F41;
    --radius:10px;

    --radial:96.72% 100.11% at 100.00% 0.00%, #4A7B7D 0%, #0E3F41 82.29%;
  }
 
  /* .dark {
    --background: #1F1E1F;

    --border: #363636;
    --input: #ffffff;
 
    --primary: #ffffff;
 
    --secondary: #ffffff;

    --green:#0E3F41;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary;
  }
}